joblib~=1.4.2
numpy~=1.26.4
scikit-learn~=1.7.1
tensorflow~=2.19.0
sentence-transformers~=5.0.0
matplotlib~=3.10.7
seaborn~=0.13.2
pandas~=2.3.3
nltk~=3.9.1
pycountry~=24.6.1
streamlit~=1.51.0
openai-whisper==20240930
keras~=3.7.0
transformers~=4.51.3
sumy~=0.11.0